.sources.tmp
dists/diy_attiny/avr/bootloaders
dists/diy_atmega8_series/avr/bootloaders
dists/diy_atmega8_series/avr/programmers.txt
dists/diy_attiny/avr/cores/
dists/diy_attiny/avr/libraries/
dists/diy_attiny/avr/platform.txt
dists/diy_attiny/avr/programmers.txt
dists/diy_attiny/avr/variants/

